#home-header {
  height: 45px;
  line-height: 45px;
  background-color: #ff3530;
  display: flex;
  text-align: center;
}

.home-header-left {
  display: flex;
  width: 60px;
  height: 100%;
  margin-left: 10px;
  color: white;
}

.home-header-left i {
  margin-left: 3px;
  margin-top: 1px;
  font-size: 15px;
}

.home-header-right {
  width: 40px;
  color: white;
}

.home-header-middle {
  flex: 1;
  height: 33px;
  line-height: 33px;
  margin: auto 0;
  background-color: #e6e6e6;
  margin-left: 8px;
}


