#search-header {
  height: 45px;
  line-height: 45px;
  background-color: #ff3530;
  display: flex;
  text-align: center;
}

.search-header-left {
  box-sizing: border-box;
  display: flex;
  width: 45px;
  height: 100%;
  color: white;
}

.search-header-left i {
  width: 100%;
  font-size: 15px;
}

.search-header-middle {
  flex: 1;
  box-sizing: border-box;
  margin-right: 5%;
  /* 搜索框33px，为了让其居中显示 */
  padding: 6px 0;
}
